# ======
# Documentation
# ======

# https://docs.gitlab.com/ee/user/project/code_owners.html

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level

[Admin]
/.gitlab/       @iweeks @dvanrooijen2 @nmcavinue @amiebright
/admin/         @iweeks @dvanrooijen2 @nmcavinue @amiebright
/analyze/       @iweeks @dvanrooijen2 @nmcavinue @amiebright

CODEOWNERS         @iweeks @dvanrooijen2 @nmcavinue @amiebright
.gitignore         @jjstark @paul_armstrong @vedprakash2021
CONTRIBUTING.md    @iweeks @dvanrooijen2 @nmcavinue @amiebright
LICENSE.md         @iweeks @dvanrooijen2 @nmcavinue @amiebright
README.md          @iweeks @dvanrooijen2 @nmcavinue @amiebright

[Data Engineering]
/dags/                              @paul_armstrong @vedprakash2021 @rbacovic @jjstark
/extract/                           @jjstark @paul_armstrong @vedprakash2021 @rbacovic
/extract/tableau_con_man_config/    @paul_armstrong @pempey @iweeks @ttnguyen28 @nmcavinue @jjstark @vedprakash2021
/load/                              @jjstark @paul_armstrong @vedprakash2021 @rbacovic
/orchestration/                     @jjstark @paul_armstrong @vedprakash2021 @rbacovic
/permissions/                       @dvanrooijen2 @paul_armstrong @jjstark @juwong
/pump/                              @jjstark @paul_armstrong @vedprakash2021 @rbacovic
/extract/gitlab_saas_postgres_pipeline/ @jjstark @paul_armstrong @vedprakash2021 @rbacovic @juwong

[Data Science]
/dags/data_science/ @paul_armstrong @rigerta

[Sales Analytics]
/dags/sales_analytics/ @rigerta @paul_armstrong

Makefile            @jjstark @paul_armstrong @vedprakash2021 @rbacovic
docker-compose.yml  @jjstark @paul_armstrong @vedprakash2021 @rbacovic
.gitlab-ci.yml      @jjstark @paul_armstrong @vedprakash2021 @rbacovic

# ======
# dbt Overwrites
# ======

[dbt]
/transform/                                         @jjstark @paul_armstrong @vedprakash2021
/transform/general/                                 @jjstark @paul_armstrong @vedprakash2021
/transform/snowflake-dbt/                           @jjstark @paul_armstrong @vedprakash2021 @iweeks @pempey @mdrussell @snalamaru
/transform/snowflake-dbt/snowflake-dbt-ci.yml       @jjstark @paul_armstrong @vedprakash2021
/transform/snowflake-dbt/generate_dbt_schema.py     @jjstark @paul_armstrong @vedprakash2021

/transform/snowflake-dbt/analysis/                  @jjstark @paul_armstrong @vedprakash2021 @pempey @mdrussell @snalamaru
/transform/snowflake-dbt/docs/                      @jjstark @paul_armstrong @vedprakash2021
/transform/snowflake-dbt/macros/                    @chrissharp @snalamaru @mdrussell @jeanpeguero @michellecooper @pempey @iweeks

/transform/snowflake-dbt/models/legacy/bamboohr/    @pempey @iweeks
/transform/snowflake-dbt/models/legacy/covid19/     @pempey @iweeks

/transform/snowflake-dbt/models/common/bridge/  @chrissharp @snalamaru @mdrussell @michellecooper @pempey @iweeks
/transform/snowflake-dbt/models/common/dimensions_local/financial/                   @chrissharp @michellecooper @iweeks @snalamaru
/transform/snowflake-dbt/models/common/dimensions_local/general_and_administrative/  @pempey @iweeks @lisvinueza
/transform/snowflake-dbt/models/common/dimensions_local/product_and_engineering/     @chrissharp @snalamaru @mdrussell @pempey @iweeks @michellecooper
/transform/snowflake-dbt/models/common/dimensions_local/sales_and_marketing/         @chrissharp @michellecooper @iweeks @snalamaru @mdrussell
/transform/snowflake-dbt/models/common/dimensions_shared/   @chrissharp @snalamaru @mdrussell @michellecooper @pempey @iweeks
/transform/snowflake-dbt/models/common/facts_general_and_administrative/             @pempey @iweeks @lisvinueza
/transform/snowflake-dbt/models/common/facts_product_and_engineering/                @chrissharp @snalamaru @mdrussell @pempey @iweeks @michellecooper
/transform/snowflake-dbt/models/common/facts_sales_and_marketing/                    @chrissharp @michellecooper @iweeks @snalamaru @mdrussell
/transform/snowflake-dbt/models/common/facts_financial/                              @chrissharp @michellecooper @iweeks @snalamaru

/transform/snowflake-dbt/models/common_mapping/     @chrissharp @snalamaru @mdrussell @michellecooper @pempey @iweeks
/transform/snowflake-dbt/models/common_prep/        @chrissharp @snalamaru @mdrussell @michellecooper @pempey @iweeks

/transform/snowflake-dbt/models/common_mart/            @chrissharp @snalamaru @mdrussell @michellecooper @pempey @iweeks
/transform/snowflake-dbt/models/common_mart_finance/    @chrissharp @michellecooper @iweeks @snalamaru
/transform/snowflake-dbt/models/common_mart_marketing/  @chrissharp @michellecooper @iweeks @snalamaru
/transform/snowflake-dbt/models/common_mart_product/    @chrissharp @snalamaru @mdrussell @pempey @iweeks @michellecooper
/transform/snowflake-dbt/models/common_mart_sales/      @chrissharp @michellecooper @iweeks @snalamaru

/transform/snowflake-dbt/models/legacy/smau_events/ @chrissharp @snalamaru @mdrussell @iweeks  @michellecooper
/transform/snowflake-dbt/models/legacy/snapshots/   @chrissharp @snalamaru @mdrussell @michellecooper @pempey @iweeks
/transform/snowflake-dbt/models/legacy/snowplow/    @chrissharp @snalamaru @mdrussell @pempey @iweeks  @michellecooper

/transform/snowflake-dbt/models/sources/customers/  @vedprakash2021 @rbacovic @chrissharp @snalamaru @mdrussell @iweeks
/transform/snowflake-dbt/models/legacy/customers/   @chrissharp @snalamaru @mdrussell @iweeks

/transform/snowflake-dbt/models/sources/dbt         @jjstark @paul_armstrong @pempey @iweeks @mdrussell
/transform/snowflake-dbt/models/legacy/dbt          @pempey @iweeks @mdrussell

/transform/snowflake-dbt/models/sources/engineering/        @jjstark @paul_armstrong @pempey @iweeks @lisvinueza
/transform/snowflake-dbt/models/legacy/engineering/         @pempey @iweeks @lisvinueza

/transform/snowflake-dbt/models/sources/gainsight_customer_success/ @jjstark @rbacovic @mdrussell @iweeks @michellecooper

/transform/snowflake-dbt/models/sources/gitlab_data_yaml/ @chrissharp @snalamaru @mdrussell @iweeks @michellecooper 
/transform/snowflake-dbt/models/legacy/gitlab_data_yaml/    @chrissharp @snalamaru @mdrussell @iweeks @michellecooper

/transform/snowflake-dbt/models/sources/gitlab_data_yaml/feature_flags_source.sql          @chrissharp @snalamaru @mdrussell @iweeks @michellecooper
/transform/snowflake-dbt/models/legacy/gitlab_data_yaml/feature_flags_yaml_latest.sql      @chrissharp @snalamaru @mdrussell @iweeks @michellecooper
/transform/snowflake-dbt/models/legacy/gitlab_data_yaml/feature_flags_yaml_historical.sql  @chrissharp @snalamaru @mdrussell @iweeks @michellecooper

/transform/snowflake-dbt/models/sources/gitlab_data_yaml/flaky_tests_source.sql            @chrissharp @snalamaru @mdrussell @iweeks @michellecooper 
/transform/snowflake-dbt/models/legacy/gitlab_data_yaml/base/flaky_tests_latest.sql        @chrissharp @snalamaru @mdrussell @iweeks @michellecooper
/transform/snowflake-dbt/models/legacy/gitlab_data_yaml/base/flaky_tests_historical.sql    @chrissharp @snalamaru @mdrussell @iweeks @michellecooper

/transform/snowflake-dbt/models/sources/gitlab_dotcom/      @vedprakash2021 @rbacovic @jjstark @chrissharp @snalamaru @mdrussell @iweeks @michellecooper
/transform/snowflake-dbt/models/legacy/gitlab_dotcom/       @chrissharp @snalamaru @mdrussell @iweeks @michellecooper

/transform/snowflake-dbt/models/sources/greenhouse/         @jjstark @rigerta @paul_armstrong @pempey @iweeks @lisvinueza
/transform/snowflake-dbt/models/legacy/greenhouse/          @pempey @iweeks @lisvinueza

/transform/snowflake-dbt/models/sources/handbook/           @pempey @iweeks @jjstark @paul_armstrong
/transform/snowflake-dbt/models/legacy/handbook/            @pempey @iweeks @jjstark @paul_armstrong

/transform/snowflake-dbt/models/sources/license/            @rbacovic @jjstark @chrissharp @snalamaru @mdrussell @iweeks
/transform/snowflake-dbt/models/legacy/license/             @chrissharp @snalamaru @mdrussell @iweeks

/transform/snowflake-dbt/models/sources/netsuite/           @jjstark @paul_armstrong @iweeks @chrissharp @michellecooper
/transform/snowflake-dbt/models/legacy/netsuite/            @iweeks @chrissharp @michellecooper

/transform/snowflake-dbt/models/sources/qualtrics           @jjstark @paul_armstrong @michellecooper @iweeks
/transform/snowflake-dbt/models/legacy/qualtrics            @michellecooper @iweeks

/transform/snowflake-dbt/models/sources/saas_usage_ping     @vedprakash @rbacovic @jjstark

/transform/snowflake-dbt/models/sources/sfdc/               @jjstark @paul_armstrong @michellecooper @iweeks @chrissharp @snalamaru
/transform/snowflake-dbt/models/legacy/sfdc/                @michellecooper @iweeks @chrissharp @snalamaru

/transform/snowflake-dbt/models/sources/snowflake/          @jjstark @paul_armstrong @pempey @iweeks
/transform/snowflake-dbt/models/legacy/snowflake/           @pempey @iweeks

/transform/snowflake-dbt/models/sources/version/            @jjstark @paul_armstrong @chrissharp @snalamaru @mdrussell @iweeks
/transform/snowflake-dbt/models/legacy/version/             @chrissharp @snalamaru @mdrussell @iweeks

/transform/snowflake-dbt/models/sources/zendesk             @rigerta @vedprakash2021 @iweeks
/transform/snowflake-dbt/models/legacy/zendesk              @iweeks @mdrussell @snalamaru @michellecooper

/transform/snowflake-dbt/models/sources/zuora               @rigerta @vedprakash2021 @michellecooper @iweeks @snalamaru
/transform/snowflake-dbt/models/legacy/zuora                @michellecooper @iweeks @snalamaru

/transform/snowflake-dbt/models/marts/arr                   @paul_armstrong @iweeks @michellecooper @snalamaru
/transform/snowflake-dbt/models/marts/sales_funnel          @iweeks @michellecooper @snalamaru

transform/snowflake-dbt/models/marts/pumps/                 @jjstark @paul_armstrong @dparker @Karuna16
transform/snowflake-dbt/models/marts/pumps_sensitive/       @jjstark @paul_armstrong @dparker @Karuna16

/transform/snowflake-dbt/models/workspaces/workspace_sales/          @mvilain @snalamaru @chrissharp @lisvinueza @iweeks @michellecooper

/transform/snowflake-dbt/models/workspaces/workspace_finance/        @iweeks @michellecooper @jeanpeguero @vagrawalg @snalamaru @annapiaseczna @lisvinueza

/transform/snowflake-dbt/models/workspaces/workspace_engineering/    @pempey @iweeks @meks @lmai1 @clem.lr @lisvinueza @mdrussell @michellecooper @utkarsh060

/transform/snowflake-dbt/models/workspaces/workspace_people/         @pempey @iweeks @aperez349 @mccormack514 @lisvinueza @rakhireddy

/transform/snowflake-dbt/models/workspaces/workspace_customer_success/  @mdrussell @snalamaru @chrissharp @michellecooper @bbutterfield @nk312 @jbudreski

/transform/snowflake-dbt/models/workspaces/workspace_product/           @cbraza @matthewpetersen @eneuberger @nraisinghani @mdrussell @snalamaru @dpeterson1 @nhervas @michellecooper @utkarsh060

/transform/snowflake-dbt/models/workspaces/workspace_marketing/         @rkohnke @degan 

# ======
# dbt data file Overwrites
# ======
/transform/snowflake-dbt/data/cost_center_division_department_mapping.csv               @iweeks @snalamaru @pempey @mdrussell
/transform/snowflake-dbt/data/engineering_productivity_metrics_projects_to_include.csv  @iweeks @snalamaru @pempey @mdrussell
/transform/snowflake-dbt/data/excluded.csv                                              @iweeks @snalamaru @pempey @mdrussell
/transform/snowflake-dbt/data/handbook_file_classification_mapping.csv                  @iweeks @snalamaru @pempey @mdrussell
/transform/snowflake-dbt/data/historical_counts_maintainers_engineers.csv               @iweeks @snalamaru @pempey @mdrussell
/transform/snowflake-dbt/data/netsuite_expense_cost_category.csv                        @iweeks @snalamaru @pempey @mdrussell
/transform/snowflake-dbt/data/projects_part_of_product.csv                              @sgoldstein @dsatcher @m_gill @jeromezng @yanguo1
/transform/snowflake-dbt/data/projects_part_of_product_ops.csv                          @sgoldstein @dsatcher @m_gill @jeromezng @yanguo1
/transform/snowflake-dbt/data/raw_netsuite_currencies.csv                               @iweeks @snalamaru @pempey @mdrussell
/transform/snowflake-dbt/data/seeds.md                                                  @iweeks @snalamaru @pempey @mdrussell
/transform/snowflake-dbt/data/seeds.yml                                                 @iweeks @snalamaru @pempey @mdrussell
/transform/snowflake-dbt/data/snowflake_contract_rates.csv                              @iweeks @snalamaru @pempey @mdrussell
/transform/snowflake-dbt/data/version_usage_stats_to_stage_mappings.csv                 @iweeks @snalamaru @pempey @mdrussell
/transform/snowflake-dbt/data/zuora_asc_606_conversion_factors.csv                      @iweeks @snalamaru @pempey @mdrussell
/transform/snowflake-dbt/data/zuora_country_geographic_region.csv                       @iweeks @snalamaru @pempey @mdrussell
/transform/snowflake-dbt/data/zuora_excluded_accounts.csv                               @iweeks @pempey @mdrussell @snalamaru

[MNPI]
transform/snowflake-dbt/safe_model_check.py                                             @dvanrooijen2 @jjstark
